version: "3"
services:
  v2ray:
    container_name: v2ray
    restart: always
    image: v2fly/v2fly-core:v4.45.2
    volumes:
      - ./v2ray/config.json:/etc/v2ray/config.json
    expose:
      - "8001" # if you need to change this you should change Caddyfile as well
    networks:
      - default

  caddy:
    container_name: caddy
    # build: .
    image: ghcr.io/hustjiangtao/ss-proxy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy:/etc/caddy:ro
      - ./log/caddy:/var/log
      - ./www:/var/www/goaccess:ro
    env_file:
      - .env
    sysctls:
      - net.ipv4.tcp_congestion_control=bbr
    networks:
      - app_net
      - default

  # goaccess:
  #   container_name: goaccess
  #   image: "docker.io/hectorm/goaccess:latest"
  #   restart: "on-failure:3"
  #   volumes:
  #     - "./goaccess.conf:/etc/goaccess/goaccess.conf:ro"
  #     - "./log/caddy/:/var/log/caddy/:ro"
  #     - "./www:/var/www/goaccess/"
  #   depends_on:
  #     - "caddy"

networks:
  app_net:
    name: app
    external: true
